




<!-- <div class="contact_box" data-aos="fade-left" data-aos-duration="2000">
		<br>
		  <h2 style="text-align:center">Contact Us</h2>
		  <p style="text-align:center"> phone: 773 248 9096</p>
		  <p style="text-align:center">e-mail: ramicamibeauty@gmail.com</p>
</div> -->




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- links for social medias effects ends -->


<div class="container socialicons">
	<div class="wrapper" data-aos="flip-down" data-aos-duration="2000">
    
		<a href="https://www.facebook.com/RamiCami-Beauty-Salon-110570000321756/"><i class="fa fa-5x fa-facebook-square"></i></a>
		<!-- <i class="fa fa-5x fa-twitter-square"></i> -->
		<a  href="https://www.instagram.com/ramicamibeauty/"><i class="fa fa-5x fa-instagram"></i></a>
		<!-- <i class="fa fa-5x fa-snapchat-square"></i> -->
		<!-- <a href="gmail"><i class="far fa-envelope"></i></a> -->
	</div>

</div>








<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> --> 
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
 <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->


<!-- <div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comment:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div> -->