
<div style="text-align:center" class="container  my-container">

  <div class="row banana-row">
      <!-- <h1 >RamiCami<br>Beauty</h1> -->
    </div>

<!-- <div class="row my-row ">
   
          <div class="col-sm-6 col-md-4 my-col">

                <div class="nameOfSalon">
                      
                </div>
          </div>

        <div class="col-sm-6 col-md-8 my-col   ">
            
              <div class="mainPicture">
              Row 1 Col 2
              </div>
            
        </div>
  
</div> -->



<div class="row  my-row ">       <!--start, end, around, between (for justify-content -{- - - }) -->

      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col"  data-aos="fade-up" data-aos-duration="1700">
        <div class="parent">
         <div class="nestedsecond">
          <div class="hair_box">
            <h2>Hair</h2>
            <a href="#">Hair</a>
              <!-- Row 2 Col 1<app-main-service></app-main-service> -->
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col"  data-aos="fade-up" data-aos-duration="1700">
          <div class="parent">
              <div class="nestedsecond">
                <div class="nail_box">
                  <h2>Nails</h2>
                  <a href="#">Nails</a>
                </div>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col"  data-aos="fade-up" data-aos-duration="1700">
          <div class="parent">
              <div class="nestedsecond">
                <div class="eyelash">
                  <h2>Eyelash</h2>
                  <a href="#">Eyelash</a>
                </div>
              </div>
            </div>  
      </div>

  </div>

    

<div class="row  my-row" >       <!--start, end, around, between (for justify-content -{- - - }) -->


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col" data-aos="fade-up" data-aos-duration="1700">
          <div class="parent">
              <div class="nestedsecond">
                <div class="make-up_box">
                    <!-- Row 2 Col 1<app-main-service></app-main-service> -->
                    <h2>Makeup</h2>
                    <a href="#">Makeup</a>
                </div>
              </div>    
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col " data-aos="fade-up" data-aos-duration="1700">
          <div class="parent">
              <div class="nestedsecond">
                  <div class="bridal_service">
                    <h2>Bridal Service</h2>
                    <a href="#">Bridal Service</a>
                  </div>
                 </div>
              </div>    
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 my-col" data-aos="fade-up" data-aos-duration="1700">
          <div class="parent">
              <div class="nestedsecond">
                  <div class="wax">
                    <h2>Waxing</h2>
                    <a href="#">Waxing</a>
                  </div>
              </div>
          </div>      
      </div>



 </div>







</div>


<!-- <div class="row  my-row">       <!start, end, around, between (for justify-content -{- - - }) -->
<!-- <div class="col my-col">

</div>

</div> 



<div class="row my-row" style="height:100px">

</div>  

</div>-->









